<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="mesasList">
                <span class="feather icon-file"></span>
                Mesas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="produtosList">
                <span class="feather icon-shopping-cart"></span>
                Itens
            </a>
        </li>
    </ul>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Listagens</span>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="pedidosList">
                <span class="feather icon-file"></span>
                Pedidos
            </a>
        </li>
    </ul>
</div>