<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">{{vm.titulo}}</h1>
</div>
<form>
    <div class="form-group">
        <label for="nome">Numero</label>
        <input type="text" ng-class="{'is-invalid': vm.error.numero}" ng-model="vm.registro.numero" class="form-control" id="numero" placeholder="Digite o numero da mesa">
        <small ng-if="vm.error.numero" class="invalid-feedback">
            {{vm.error.numero[1]}}
        </small>
    </div>
    <button type="button" ng-click="vm.salvar()" class="btn btn-primary">Salvar</button>
    <a ui-sref="mesasList" class="btn btn-danger">Cancelar</button>
</form>