<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <h1 class="h2">Listagem de Mesas</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a ui-sref="mesasNovo" class="btn btn-success ml-3">
            <span class="feather icon-plus"></span>
            <span>Nova Mesa</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Mesas</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.data.registros">
                <td>{{item.numero}}</td> 
                <td class="text-right">
                    <a ui-sref="" ng-click="vm.adicionar(item.id)" class="btn btn-sm btn-link py-0">
                        <span class="feather icon-edit"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>