<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">{{vm.titulo}}</h1>
</div>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="codigo">Código</label>
            <input type="text" ng-class="{'is-invalid': vm.error.codigo}" ng-model="vm.registro.codigo" class="form-control" id="codigo">
            <small ng-if="vm.error.codigo" class="invalid-feedback">
                {{vm.error.codigo[1]}}
            </small>
        </div>
    </div>
    <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" ng-class="{'is-invalid': vm.error.descricao}" ng-model="vm.registro.descricao" class="form-control" id="descricao"
            placeholder="Digite a descrição do produto">
        <small ng-if="vm.error.descricao" class="invalid-feedback">
            {{vm.error.descricao[1]}}
        </small>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="preco">Preço</label>
            <input type="number" ng-class="{'is-invalid': vm.error.preco}" ng-model="vm.registro.preco" class="form-control" id="preco">
            <small ng-if="vm.error.preco" class="invalid-feedback">
                {{vm.error.preco[1]}}
            </small>
        </div>
        <div class="form-group col-md-6">
            <label for="quantidade">Estoque</label>
            <input type="number" ng-class="{'is-invalid': vm.error.quantidade}" ng-model="vm.registro.quantidade" class="form-control"
                id="quantidade">
            <small ng-if="vm.error.quantidade" class="invalid-feedback">
                {{vm.error.quantidade[1]}}
            </small>
        </div>
    </div>

    <button type="button" ng-click="vm.salvar()" class="btn btn-primary">Salvar</button>
    <a ui-sref="produtosList" class="btn btn-danger">Cancelar</button>
</form>